body{
    
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        /* font-style: normal; */
        background-color:#373A3C;
        text-shadow: #217cb8;
}